{% extends 'base.html' %}
{% block title %}Sistema Control 2026{% endblock %}
{% block content %}
<h1>¡¡Bienvenido a Sistema de Control!!</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed corrupti maxime pariatur vero optio deserunt voluptas omnis est ipsa dignissimos illo nobis, blanditiis cum eos ut ducimus delectus minima. Voluptas.
    Dignissimos perspiciatis officiis beatae incidunt inventore impedit aspernatur eveniet debitis voluptas numquam tenetur eligendi, corrupti magni, tempora illo earum esse est veniam nihil iusto dolorem modi. Ipsam laborum omnis ut!
    Atque possimus architecto temporibus eius nostrum laudantium, facere placeat modi culpa eligendi quod iste reiciendis iusto, aut debitis ipsam tenetur dicta quae eaque inventore odio. Soluta cupiditate consectetur ipsum quasi?
    Totam labore aliquid accusantium quisquam, laudantium omnis assumenda asperiores doloribus nulla, molestiae libero incidunt tenetur voluptate saepe nemo vel. Incidunt voluptate fuga veritatis reiciendis facere dolorem iste minus beatae repudiandae!
    Corporis nihil, impedit aliquam atque, vitae veritatis rerum veniam quaerat architecto dolore praesentium optio ullam doloremque adipisci numquam, consectetur culpa ipsa aspernatur facilis eaque. Fugit eos expedita odit sunt minus?
</p>
{% endblock %}